
<div class="toolbar">
  <img src="https://th.bing.com/th/id/OIP.K0Zz4xirlNoXu_nqrVuA1gHaHZ?rs=1&pid=ImgDetMain" width="40" alt="Pokedex Logo">
  <h1>My Pokedex</h1>
</div>
<div class="content">
  <h1>Gotta Catch 'Em All!</h1>
  <div class="spacer"></div>
  <section class="gallery not-clicked">
    @for(pokemon of pokemons; track pokemon.order){
      <article class="pokemon" id="pokemon-{{pokemon.order}}" (click)="selectPokemon(pokemon.order)" appHover>
          <article class="column left">
            <img class="pokemon-img" [src]="pokemon.detail.sprites.front_default" alt="{{pokemon.name}}">
            <h2 class="pokemon-name">{{pokemon.name}}</h2>
            <p class="pokemon-order">No. {{pokemon.order}}</p>
            <h3>Types</h3>
            <ul class="pokemon-types">
              <li *ngFor="let type of pokemon.detail.types" class="pokemon-type">{{type.type.name}}</li>
            </ul>
          </article>
          <article class="column right">
            <h3>Abilities</h3>
            <ul class="pokemon-abilities">
              <li *ngFor="let ability of pokemon.detail.abilities" class="pokemon-ability">{{ability.ability.name}}</li>
            </ul>
            <h3>Height</h3>
            <p>{{pokemon.detail.height}}</p>
            <h3>Weight</h3>
            <p>{{pokemon.detail.weight}}</p>
          </article>
      </article>
    }
  </section>
</div>
