<main class="content">
    <button class="add-button" (click)="addPokemon()">Add Pokemon</button>
    <button class="revert-button" (click)="revertChanges()">Revert Changes</button>
    <app-search (filterValueEvent)="filterValue = $event"></app-search>
    <table class="pokemon-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Sprite</th>
                <th>3D-Sprite</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @for(pokemon of pokeList | filterName: filterValue; track pokemon.name) {
                <tr>
                    <td>{{ pokemon.detail.id }}</td>
                    <td>{{ pokemon.detail.name }}</td>
                    <td>{{ pokemon.detail.height }}</td>
                    <td>{{ pokemon.detail.weight }}</td>
                    <td>
                        <img [src]="pokemon.detail.sprites.front_default" alt="{{ pokemon.detail.name }} sprite">
                    </td>
                    <td>
                        <img [src]="pokemon.detail.sprites.other.showdown.front_default" alt="{{ pokemon.detail.name }} 3D sprite">
                    <td>
                        <button class="edit-button" (click)="editPokemon(pokemon.detail.id)">Edit</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>