.content {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.pokemon-table {
    width: 80%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
    overflow: hidden; 
    margin-bottom: 20px;
    margin-top: 50px;
    
    th, td {
        padding: 12px; 
        text-align: center;
    }

    th {
        background-color: #ffcc00;
        color: #333; 
        text-transform: uppercase;
    }

    td {
        background-color: #f2f2f2;
    }

    img {
        max-width: 50px;
        height: auto; 
        display: block; 
        margin: 0 auto;
    }

    .edit-button {
        background-color: #007bff; 
        color: #fff;
        border: none; 
        padding: 8px 16px; 
        border-radius: 4px;
        cursor: pointer; 
        transition: background-color 0.3s ease;
        &:hover {
            background-color: #0056b3; 
        }
    }
}